extends layout

block content
  h1 Welcome to NewsAPI and Twitter Mashup!
    form(action="/newsapi" method="post")
      input(type="/newsapi/ " name="keywords" placeholder="Search keywords") 
      input(type="/newsapi/" name="dateFrom" placeholder="Date from xxxx-xx-xx")
      input(type="/newsapi/" name="dateTo" placeholder="Date To xxxx-xx-xx")
      input(type="/newsapi/" name="sortBy" placeholder="Sort By:")
      button(type="submit") Submit
    



      




  

  
    
  
  

  
      
  
